<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.axiasoft.mycertificationworkout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.words.WordsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".views.words.NewWordActivity" />
        <activity
            android:name=".views.schedulenotifications.SchedulerActivity"
            android:label="@string/title_activity_scheduler"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".services.NotificationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".views.settings.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".views.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.home.HomeActivity" />
        </activity>
        <activity
            android:name=".views.custom.CustomViewActivity"
            android:label="@string/title_activity_custom_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <activity android:name=".views.basicandroidaccessibility.AccessabilityMainActivity">
        </activity>
        <activity
            android:name=".views.basicandroidaccessibility.ContentLabelingActivity"
            android:label="@string/title_activity_content_labeling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.basicandroidaccessibility.LiveRegionActivity"
            android:label="@string/title_activity_live_region"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.basicandroidaccessibility.ExpandTouchAreaActivity"
            android:label="@string/title_activity_expand_touch_area"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.basicandroidaccessibility.ContentGroupingActivity"
            android:label="@string/title_activity_content_grouping"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.basicandroidaccessibility.InsufficientContrastActivity"
            android:label="@string/title_activity_insufficient_contrast"
            android:theme="@style/AppTheme.NoActionBar"></activity>



    </application>

</manifest>